<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link th:rel="stylesheet" th:href="@{/css/register.css}"/>
    <title>Register</title>
</head>
<body>
<section class="container">
    <header>Registration Form</header>
    <form action="#" th:action="@{/register}" method="post" class="form">
        <div class="column">
            <div class="input-box">
                <label for="firstName">First name</label>
                <input type="text" id="firstName" name="firstName" placeholder="Enter first name" required/>
            </div>

            <div class="input-box">
                <label for="lastName">Last name</label>
                <input type="text" id="lastName" name="lastName" placeholder="Enter last name" required/>
            </div>
        </div>

        <div class="input-box">
            <label for="email">Email Address</label>
            <input type="email" id="email" name="email" placeholder="Enter email address" required/>
        </div>

        <div class="column">
            <div class="input-box">
                <label for="phoneNumber">Phone Number</label>
                <input type="tel" id="phoneNumber" name="phoneNumber" placeholder="Enter phone number" required/>
            </div>

            <div class="input-box">
                <label for="birthDate">Birth Date</label>
                    <input type="date" id="birthDate" name="birthDate" placeholder="Enter birth date" required/>
            </div>
        </div>

        <div class="column justify-content-between">
            <div class="gender-box">
                <h3>Gender</h3>
                <div class="gender-option">
                    <div class="gender">
                        <input type="radio" id="male" name="gender" value="Male" required/>
                        <label for="male">Male</label>
                    </div>
                    <div class="gender">
                        <input type="radio" id="female" name="gender" value="Female" required/>
                        <label for="female">Female</label>
                    </div>
                </div>
            </div>

            <div class="gender-box mg-left">
                <h3>Role</h3>
                <div class="gender-option">
                    <div class="gender">
                        <input type="radio" id="teacher" name="role" value="Teacher" required/>
                        <label for="teacher">Teacher</label>
                    </div>
                    <div class="gender">
                        <input type="radio" id="student" name="role" value="Student" required/>
                        <label for="student">Student</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="input-box address">
            <div class="column">
                <div class="input-box">
                    <label for="country">Country</label>
                    <select id="country" name="country" required>
                        <option value="" disabled selected>Select your country</option>
                        <option value="Kazakhstan">Kazakhstan</option>
                        <option value="Uzbekistan">Uzbekistan</option>
                        <option value="Japan">Japan</option>
                        <option value="India">India</option>
                        <option value="Nepal">Nepal</option>
                    </select>
                </div>
                <div class="input-box">
                    <label for="city">City</label>
                    <select id="city" name="city" placeholder="City" required>
                        <option value="" disabled selected>Select your city</option>
                    </select>
                </div>
                <div class="input-box">
                    <label for="region">Region</label>
                    <select id="region" name="region" placeholder="Region" required>
                        <option value="" disabled selected>Select your region</option>
                    </select>
                </div>
            </div>
        </div>
        <button type="submit">Submit</button>
    </form>
</section>

<script th:src="@{/js/CountryCityRegion.js}">
</script>


</body>
</html>
